<a href="https://colab.research.google.com/github/perv0vser/DA_test_projects/blob/main/%D0%A2%D0%B5%D1%81%D1%82%D0%BE%D0%B2%D0%BE%D0%B5_%D0%B7%D0%B0%D0%BF%D1%80%D0%BE%D1%81_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85_%D0%B8%D0%B7_%D0%91%D0%94_SQL_%D0%BF%D1%80%D0%B5%D0%B4%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B0_Pandas_%D0%B4%D0%B0%D1%88%D0%B1%D0%BE%D1%80%D0%B4_DataLens_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задача 1: Выгрузить из базы данных с использованием SQL-запроса информацию по следующим пользователям:

- Ученики с годовых курсов ЕГЭ и ОГЭ

Необходимые поля в итоговой выгрузке:

- ID курса
- Название курса
- Предмет
- Тип предмета
- Тип курса
- Дата старта курса
- ID ученика
- Фамилия ученика
- Город ученика
- Ученик не отчислен с курса
- Дата открытия курса ученику
- Сколько полных месяцев курса открыто у ученика
- Число сданных ДЗ ученика на курсе

Файлы, необходимые для решения задачи:

- db_schema.jpg – схема БД
- script_db.py – python-скрипт для имитации запроса к БД

Результат, который нужно прислать по задаче:

- SQL-скрипт в формате файла .sql. В коде скрипта оставляйте комментарии с пояснениями своих действий

In [ ]:
# Данный python-скрипт имитирует запрос к БД
# Напишите ваш SQL-запрос в query и запустите данный python-скрипт для получения результата
# Перед запуском скрипта установите библиотеку duckdb

# Установка библиотеки duckdb
# pip install duckdb duckdb-engine

In [ ]:
# Импорт библиотек
import pandas as pd
import duckdb

In [ ]:
# Задание таблиц БД
users = pd.read_csv('/content/users.csv')
course_users = pd.read_csv('/content/course_users.csv')
courses = pd.read_csv('/content/courses.csv')
course_types = pd.read_csv('/content/course_types.csv')
lessons = pd.read_csv('/content/lessons.csv')
subjects = pd.read_csv('/content/subjects.csv')
cities = pd.read_csv('/content/cities.csv')
homework_done = pd.read_csv('/content/homework_done.csv')
homework = pd.read_csv('/content/homework.csv')
homework_lessons = pd.read_csv('/content/homework_lessons.csv')
user_roles = pd.read_csv('/content/user_roles.csv')

Ссылка на файл со скриптом: https://disk.yandex.ru/d/UQdgTwlMS5v3kg

In [ ]:
query = """
SELECT c.id AS course_id, -- Здесь и далее при задании alias для таблиц использую пробел, для столбцов (полей) оператор AS
       c.name AS course_name,
       s.name AS subject_name,
       s.project AS subject_type,
       ct.name AS course_type,
       CAST(c.starts_at AS date) AS start_date,
       u.id AS user_id,
       u.last_name AS user_name,
       ci.name AS user_city,
       cu.active AS user_status,
       CAST(cu.created_at AS date) AS user_joined,
       /*Целочисленное деление на 30 количества дней между датами показалось не совсем корректным решением,
       так как месяцы идут с разным кол-вом дней, решил применить такой код, но наиболее корректное решение можно оформить,
       если пообщаться с заказчиком таблицы и дашборда и лучше понять, по какому принципу вносятся обновления в таблицу course_users*/
       EXTRACT(MONTH FROM age(CAST(cu.updated_at AS date), CAST(cu.created_at AS date))) AS full_months,
       hd.count AS homeworks_done

FROM courses c
JOIN subjects s ON c.subject_id = s.id -- Здесь и далее использую INNER JOIN, чтобы оставались только пересекающиеся данные
JOIN (
           SELECT *
           FROM course_types
           WHERE name = 'Годовой'
) ct ON c.course_type_id = ct.id
JOIN course_users cu ON c.id = cu.course_id
JOIN users u ON cu.user_id = u.id
JOIN (
           SELECT *
           FROM user_roles
           WHERE name = 'student' -- Фильтровать ненужные данные перед объединением таблиц кажется логичнее
) ur ON u.user_role_id = ur.id
JOIN cities ci ON u.city_id = ci.id
JOIN (
          SELECT user_id,
                 COUNT(homework_id) AS count -- Агрегируем перед объединением, тем более user_id является ключем, а д/з у каждого может быть несколько
          FROM homework_done
          GROUP BY user_id
) hd ON u.id = hd.user_id
"""

In [ ]:
# Выполнение SQL-запроса
df_result = duckdb.query(query).to_df()

In [ ]:
df_result

,course_id,course_name,subject_name,subject_type,course_type,start_date,user_id,user_name,user_city,user_status,user_joined,full_months,homeworks_done
0,19,Годовой 2к25 стандарт,Русский,ЕГЭ,Годовой,2024-09-21,10002,Коваленко,Москва,0,2024-07-25,3,5
1,25,Годовой 2к25 стандарт,Биология,ЕГЭ,Годовой,2024-09-17,10005,Гусев,Белгород,1,2024-07-26,2,2
2,23,Годовой 2К25 стандарт с Машей,Математика,ЕГЭ,Годовой,2024-09-20,10011,Ищенко,Анива,1,2024-09-10,1,11
3,16,Годовой 2к25 стандарт,Обществознание,ЕГЭ,Годовой,2024-09-16,10020,Бархатова,Москва,1,2024-07-26,2,13
4,17,Годовой 2к25 стандарт,Английский язык,ЕГЭ,Годовой,2024-09-20,10023,Накагава,Холмск,1,2024-07-26,2,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,19,Годовой 2к25 стандарт,Русский,ЕГЭ,Годовой,2024-09-21,25942,Такой,Краснодар,1,2024-09-17,1,21
5105,37,Годовой курс 2к25,Русский ОГЭ,ОГЭ,Годовой,2024-09-25,25975,Aix,Краснодар,1,2024-09-17,1,31
5106,37,Годовой курс 2к25,Русский ОГЭ,ОГЭ,Годовой,2024-09-25,28022,Зотова,Челябинск,1,2024-09-23,0,47
5107,36,Годовой курс 2к25,Обществознание ОГЭ,ОГЭ,Годовой,2024-09-30,28327,Юшкова,Серов,1,2024-09-24,0,7
5108,36,Годовой курс 2к25,Обществознание ОГЭ,ОГЭ,Годовой,2024-09-30,28022,Зотова,Челябинск,1,2024-09-23,1,47

# Задача 2: С использованием python-скриптов обработать датасет, подготовленный в Задаче 1

1. Проверить датасет на: дубликаты, пропуски, типы данных, аномальные значения. Произвести
предобработку датасета, если это необходимо
2. Поделить всех учеников на волны
Критерии волн:
- 0 волна – присоединились на курс до даты старта курса включительно
- 1 волна - присоединились на курс в течение 1 недели после даты старта курса включительно
- 2 волна - присоединились на курс в течение от 1 до 2 недель включительно после даты старта курса
- 3 волна - присоединились на курс в течение от 2 до 3 недель включительно после даты старта курса
- 4 волна - присоединились на курс в течение от 3 до 4 недель включительно после даты старта курса
- 5 волна - присоединились на курс от 4 недель после даты старта курса

In [ ]:
!pip install transliterate

Collecting transliterate
  Downloading transliterate-1.10.2-py2.py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: six>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from transliterate) (1.16.0)
Downloading transliterate-1.10.2-py2.py3-none-any.whl (45 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.8/45.8 kB 1.6 MB/s eta 0:00:00
Installing collected packages: transliterate
Successfully installed transliterate-1.10.2

In [ ]:
import re
from transliterate import translit
#from transliterate.decorators import transliterate_function

In [ ]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [ ]:
df_result

,course_id,course_name,subject_name,subject_type,course_type,start_date,user_id,user_name,user_city,user_status,user_joined,full_months,homeworks_done
0,19,Годовой 2к25 стандарт,Русский,ЕГЭ,Годовой,2024-09-21,10002,Коваленко,Москва,0,2024-07-25,3,5
1,25,Годовой 2к25 стандарт,Биология,ЕГЭ,Годовой,2024-09-17,10005,Гусев,Белгород,1,2024-07-26,2,2
2,23,Годовой 2К25 стандарт с Машей,Математика,ЕГЭ,Годовой,2024-09-20,10011,Ищенко,Анива,1,2024-09-10,1,11
3,16,Годовой 2к25 стандарт,Обществознание,ЕГЭ,Годовой,2024-09-16,10020,Бархатова,Москва,1,2024-07-26,2,13
4,17,Годовой 2к25 стандарт,Английский язык,ЕГЭ,Годовой,2024-09-20,10023,Накагава,Холмск,1,2024-07-26,2,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,19,Годовой 2к25 стандарт,Русский,ЕГЭ,Годовой,2024-09-21,25942,Такой,Краснодар,1,2024-09-17,1,21
5105,37,Годовой курс 2к25,Русский ОГЭ,ОГЭ,Годовой,2024-09-25,25975,Aix,Краснодар,1,2024-09-17,1,31
5106,37,Годовой курс 2к25,Русский ОГЭ,ОГЭ,Годовой,2024-09-25,28022,Зотова,Челябинск,1,2024-09-23,0,47
5107,36,Годовой курс 2к25,Обществознание ОГЭ,ОГЭ,Годовой,2024-09-30,28327,Юшкова,Серов,1,2024-09-24,0,7
5108,36,Годовой курс 2к25,Обществознание ОГЭ,ОГЭ,Годовой,2024-09-30,28022,Зотова,Челябинск,1,2024-09-23,1,47

## EDA

In [ ]:
df_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5109 entries, 0 to 5108
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   course_id       5109 non-null   int64
 1   course_name     5109 non-null   object
 2   subject_name    5109 non-null   object
 3   subject_type    5109 non-null   object
 4   course_type     5109 non-null   object
 5   start_date      5109 non-null   datetime64[us]
 6   user_id         5109 non-null   int64
 7   user_name       5109 non-null   object
 8   user_city       5109 non-null   object
 9   user_status     5109 non-null   int64
 10  user_joined     5109 non-null   datetime64[us]
 11  full_months     5109 non-null   int64
 12  homeworks_done  5109 non-null   int64
dtypes: datetime64[us](2), int64(5), object(6)
memory usage: 519.0+ KB

In [ ]:
df_result.duplicated().sum()

0

In [ ]:
def check_anomalies(df):
    '''Выводит списки уникальных значений столбцов датафрейма'''
    for col in df.columns.tolist():
        print(f'Уникальные значения в столбце {col}')
        print(df[col].unique())
        print('*'*100)

In [ ]:
check_anomalies(df_result)

Уникальные значения в столбце course_id
[19 25 23 16 17 24 42 22 37 18 38 39 36 41 21 20 81 62 80 57 59 74 79 56
 73]
****************************************************************************************************
Уникальные значения в столбце course_name
['Годовой 2к25 стандарт' 'Годовой 2К25 стандарт с Машей'
 'В погоне за пятеркой 2К25 стандарт' 'Годовой курс 2к25'
 'Годовой курс 2к25 комбо (русский + обществознание + математика)'
 'Годовой 2К25 стандарт с Катей' 'Годовой 2к25 минимал'
 'Годовой 2к25 платинум'
 'Годовой курс 2к25 комбо (биология + обществознание + математика)'
 'Годовой курс 2к25 комбо (биология + русский + математика)']
****************************************************************************************************
Уникальные значения в столбце subject_name
['Русский' 'Биология' 'Математика' 'Обществознание' 'Английский язык'
 'Математика (база)' 'Биология ОГЭ' 'Литература' 'Русский ОГЭ' 'История'
 'Математика ОГЭ' 'Обществознание ОГЭ' 'Химия' 'Физика']
****************************************************************************************************
Уникальные значения в столбце subject_type
['ЕГЭ' 'ОГЭ']
****************************************************************************************************
Уникальные значения в столбце course_type
['Годовой']
****************************************************************************************************
Уникальные значения в столбце start_date
<DatetimeArray>
['2024-09-21 00:00:00', '2024-09-17 00:00:00', '2024-09-20 00:00:00',
 '2024-09-16 00:00:00', '2024-09-30 00:00:00', '2024-09-25 00:00:00',
 '2024-09-18 00:00:00', '2024-09-23 00:00:00', '2024-09-15 00:00:00',
 '2024-10-15 00:00:00', '2024-09-22 00:00:00']
Length: 11, dtype: datetime64[us]
****************************************************************************************************
Уникальные значения в столбце user_id
[10002 10005 10011 ... 33993 33997 33999]
****************************************************************************************************
Уникальные значения в столбце user_name
['Коваленко' 'Гусев' 'Ищенко' ... 'Новак' 'Гусарова' 'Катырева']
****************************************************************************************************
Уникальные значения в столбце user_city
['Москва' 'Белгород' 'Анива' 'Холмск' 'Туймазы' 'Йошкар-Ола' 'Пермь'
 'Казань' 'Ессентуки' 'Куйбышев' 'Ижевск' 'Нефтеюганск' 'Коркино'
 'Красноярск' 'Симферополь' 'Красногорск' 'Абакан' 'Норильск'
 'Севастополь' 'Корсаков' 'Барнаул' 'Кондопога' 'Чапаевск' 'Краснодар'
 'Ярославль' 'Санкт-Петербург' 'Волгодонск' 'Ульяновск' 'Моршанск'
 'Элиста' 'Альметьевск' 'Сестрорецк' 'Рязань' 'Касли' 'Маркс'
 'Советская Гавань' 'Кремёнки' 'Обнинск' 'Саратов' 'Ростов-на-Дону'
 'Самара' 'Тобольск' 'Воронеж' 'Томск' 'Раменское' 'Тольятти' 'Ивантеевка'
 'Звенигород' 'Сосновоборск' 'Тамбов' 'Новомосковск' 'Нижнекамск'
 'Курганинск' 'Октябрьский' 'Оренбург' 'Заринск' 'Тверь' 'Фокино'
 'Набережные Челны' 'Киров' 'Владикавказ' 'Сочи' 'Когалым' 'Уфа'
 'Архангельск' 'Славгород' 'Калининград' 'Тюмень' 'Краснознаменск' 'Орёл'
 'Ачинск' 'Балахна' 'Волгоград' 'Липецк' 'Электросталь' 'Мензелинск'
 'Сарапул' 'Пенза' 'Подольск' 'Усть-Джегута' 'Малоярославец' 'Всеволожск'
 'Балтийск' 'Катав-Ивановск' 'Елабуга' 'Владивосток' 'Елизово' 'Находка'
 'Руза' 'Рузаевка' 'Киселёвск' 'Глазов' 'Махачкала' 'Новый Оскол' 'Выкса'
 'Михайловка' 'Улан-Удэ' 'Пыть-Ях' 'Кстово' 'Иваново' 'Нижний Новгород'
 'Кумертау' 'Новосибирск' 'Егорьевск' 'Саяногорск' 'Смоленск' 'Суворов'
 'Курган' 'Рыбинск' 'Феодосия' 'Балашиха' 'Выборг' 'Яхрома' 'Клин'
 'Ступино' 'Ухта' 'Апшеронск' 'Калуга' 'Екатеринбург' 'Каменногорск'
 'Бирюч' 'Астрахань' 'Ясный' 'Алексин' 'Южно-Сахалинск' 'Уссурийск'
 'Кохма' 'Ставрополь' 'Алушта' 'Фролово' 'Слободской' 'Благовещенск'
 'Воскресенск' 'Кемерово' 'Нижний Тагил' 'Республика Дагестанские Огни'
 'Майкоп' 'Серов' 'Будённовск' 'Мелеуз' 'Чебоксары' 'Саранск' 'Тула'
 'Реутов' 'Сургут' 'Кузнецк' 'Лабинск' 'Биробиджан' 'Пятигорск' 'Асбест'
 'Жердевка' 'Кодинск' 'Куровское' 'Донецк' 'Магнитогорск' 'Лобня'
 'Таганрог' 'Бор' 'Морозовск' 'Сальск' 'Пушкино' 'Сортавала' 'Кандалакша'
 'Обь' 'Барабинск' 'Брянск' 'Челябинск' 'Иркутск' 'Лабытнанги' 'Жуковский'
 'Одинцово' 'Минусинск' 'Учалы' 'Чита' 'Енисейск' 'Щёлково' 'Омск' 'Сокол'
 'Белорецк' 'Сызрань' 'Миллерово' 'Бердск' 'Луза' 'Искитим'
 'Спасск-Дальний' 'Коломна' 'Пионерский' 'Уварово' 'Аркадак'
 'Новочебоксарск' 'Луховицы' 'Мариинский Посад' 'Елец' 'Великий Новгород'
 'Серпухов' 'Семёнов' 'Новокуйбышевск' 'Нефтекамск' 'Минеральные Воды'
 'Бирск' 'Озёрск' 'Вельск' 'Салават' 'Ирбит' 'Лангепас' 'Бугульма'
 'Ишимбай' 'Каменск-Уральский' 'Сысерть' 'Псков' 'Ноябрьск' 'Макеевка\r'
 'Ликино-Дулёво' 'Кинель' 'Зеленокумск' 'Кропоткин' 'Владимир' 'Камышин'
 'Ревда' 'Якутск' 'Новокузнецк' 'Хабаровск' 'Михайловск' 'Великие Луки'
 'Осинники' 'Мытищи' 'Петропавловск-Камчатский' 'Муравленко'
 'Димитровград' 'Бабаево' 'Дальнереченск' 'Десногорск' 'Усть-Кут'
 'Салехард' 'Каспийск' 'Балаково' 'Верхняя Пышма' 'Дзержинский'
 'Ханты-Мансийск' 'Калтан' 'Апатиты' 'Олонец' 'Северодвинск' 'Боровичи'
 'Видное' 'Янаул' 'Донецк\r' 'Наро-Фоминск' 'Кострома' 'Королёв' 'Плавск'
 'Берёзовский' 'Хвалынск' 'Чкаловск' 'Полевской' 'Дмитриев'
 'Калач-на-Дону' 'Нягань' 'Тотьма' 'Сорочинск' 'Аксай' 'Туапсе'
 'Новоаннинский' 'Мирный' 'Домодедово' 'Люберцы' 'Щёкино' 'Белокуриха'
 'Лиски' 'Артём' 'Мыски' 'Завитинск' 'Волжский' 'Чебаркуль' 'Белоярский'
 'Усинск' 'Усть-Катав' 'Михайлов' 'Белогорск' 'Советск' 'Мичуринск'
 'Кизляр' 'Кунгур' 'Гуково' 'Невинномысск' 'Ногинск' 'Змеиногорск'
 'Геленджик' 'Химки' 'Богучар' 'Горнозаводск' 'Волжск' 'Губкин'
 'Междуреченск' 'Стрежевой' 'Анапа' 'Ангарск' 'Черкесск' 'Дигора'
 'Гудермес' 'Хасавюрт' 'Ейск' 'Новороссийск' 'Балабаново' 'Избербаш'
 'Сергиев Посад' 'Дербент' 'Орск' 'Энгельс' 'Валдай' 'Нурлат' 'Карабулак'
 'Кириши' 'Зеленодольск' 'Череповец' 'Ртищево' 'Железногорск' 'Мурманск'
 'Саки' 'Новочеркасск' 'Жуковка' 'Лыткарино' 'Зеленогорск' 'Дмитров'
 'Нижневартовск' 'Рыбное' 'Бийск' 'Пущино' 'Горно-Алтайск' 'Саянск'
 'Камышлов' 'Юрга' 'Новоуральск' 'Уяр' 'Армавир' 'Курск' 'Воркута'
 'Болгар' 'Нальчик' 'Вязники' 'Джанкой' 'Комсомольск-на-Амуре'
 'Питкяранта' 'Буй' 'Усть-Лабинск' 'Вологда' 'Мончегорск' 'Шали'
 'Нерюнгри' 'Ростов' 'Азнакаево' 'Мценск' 'Арзамас' 'Ельня'
 'Североуральск' 'Лениногорск' 'Богородицк' 'Николаевск-на-Амуре'
 'Иланский' 'Назрань' 'Кызыл' 'Шелехов' 'Новомичуринск' 'Орехово-Зуево'
 'Бавлы' 'Каменск-Шахтинский' 'Комсомольск' 'Коряжма' 'Андреаполь'
 'Лебедянь' 'Темрюк' 'Дзержинск' 'Мариуполь\r' 'Канаш' 'Первоуральск'
 'Новокубанск' 'Агрыз' 'Лесосибирск' 'Могоча' 'Таштагол' 'Долгопрудный'
 'Знаменск' 'Республика Крымск' 'Колпашево' 'Краснокаменск' 'Старый Оскол'
 'Саров' 'Ломоносов' 'Жигулёвск' 'Стародуб' 'Омутнинск' 'Белинский'
 'Павлово' 'Бронницы' 'Кубинка' 'Североморск' 'Кольчугино' 'Рудня'
 'Нижняя Тура' 'Губкинский' 'Изобильный' 'Аша' 'Шагонар' 'Калининск'
 'Талдом' 'Верхний Уфалей' 'Нижнеудинск' 'Верхняя Салда' 'Черемхово'
 'Рубцовск' 'Яровое' 'Кингисепп' 'Котельнич' 'Сосновый Бор' 'Рославль'
 'Миасс' 'Краснодон\r' 'Беслан' 'Отрадное' 'Вязьма' 'Отрадный' 'Арск'
 'Суджа' 'Новый Уренгой' 'Шебекино' 'Сафоново' 'Гатчина' 'Баксан' 'Южа'
 'Прокопьевск' 'Макаров' 'Коммунар' 'Сланцы' 'Пугачёв' 'Борисоглебск'
 'Белебей' 'Магадан' 'Надым' 'Пушкин' 'Ковров' 'Кореновск' 'Дальнегорск'
 'Курчатов' 'Солнечногорск' 'Гагарин' 'Белореченск' 'Емва' 'Оха'
 'Радужный' 'Володарск' 'Фрязино' 'Каменка' 'Партизанск' 'Вятские Поляны'
 'Славянск-на-Кубани' 'Родники' 'Бугуруслан' 'Новохопёрск' 'Белово'
 'Дорогобуж' 'Южноуральск' 'Зарайск' 'Ершов' 'Заинск' 'Невельск'
 'Чистополь' 'Братск' 'Снежное\r' 'Муром' 'Карасук' 'Горняк' 'Ахтубинск'
 'Верхотурье' 'Гай' 'Новодвинск' 'Азов' 'Поворино' 'Вышний Волочёк'
 'Новоалександровск' 'Петрозаводск' 'Дятьково' 'Сосногорск' 'Ипатово'
 'Городец' 'Краснослободск' 'Кушва' 'Адыгейск' 'Чехов' 'Агидель' 'Короча'
 'Краснотурьинск' 'Тарко-Сале' 'Сыктывкар' 'Анжеро-Судженск' 'Гурьевск'
 'Лукоянов' 'Павловск' 'Волхов' 'Кяхта' 'Троицк' 'Старая Русса' 'Рошаль'
 'Сегежа' 'Заозёрск' 'Ленинск-Кузнецкий' 'Сватово' 'Зеленоградск' 'Тосно'
 'Цивильск' 'Стерлитамак' 'Узловая' 'Электроугли' 'Алексеевка'
 'Кисловодск' 'Истра' 'Карталы' 'Великий Устюг' 'Назарово' 'Ленск'
 'Поронайск' 'Весьегонск' 'Можга' 'Тайшет' 'Советский' 'Ялуторовск'
 'Мариинск' 'Чулым' 'Кировск' 'Евпатория' 'Судак' 'Суздаль' 'Тында'
 'Ряжск' 'Югорск' 'Копейск' 'Приморско-Ахтарск' 'Полысаево' 'Туран'
 'Среднеуральск' 'Дмитровск' 'Урень' 'Черняховск' 'Алдан' 'Няндома'
 'Тутаев' 'Вольск' 'Слюдянка' 'Клинцы' 'Черногорск' 'Бердянск\r' 'Шахунья'
 'Ишим' 'Кораблино' 'Медногорск' 'Волоколамск' 'Шумерля' 'Очёр' 'Обоянь'
 'Россошь' 'Онега' 'Чернушка' 'Александровск' 'Семикаракорск'
 'Менделеевск' 'Лакинск']
****************************************************************************************************
Уникальные значения в столбце user_status
[0 1]
****************************************************************************************************
Уникальные значения в столбце user_joined
<DatetimeArray>
['2024-07-25 00:00:00', '2024-07-26 00:00:00', '2024-09-10 00:00:00',
 '2024-09-14 00:00:00', '2024-09-21 00:00:00', '2024-10-08 00:00:00',
 '2024-09-15 00:00:00', '2024-07-27 00:00:00', '2024-09-26 00:00:00',
 '2024-08-16 00:00:00',
 ...
 '2024-09-09 00:00:00', '2024-11-03 00:00:00', '2024-11-07 00:00:00',
 '2024-10-24 00:00:00', '2024-10-17 00:00:00', '2024-10-31 00:00:00',
 '2024-10-23 00:00:00', '2024-10-21 00:00:00', '2024-11-01 00:00:00',
 '2024-10-19 00:00:00']
Length: 102, dtype: datetime64[us]
****************************************************************************************************
Уникальные значения в столбце full_months
[3 2 1 0]
****************************************************************************************************
Уникальные значения в столбце homeworks_done
[ 5  2 11 13 10  4 33 32 18  9 41 40 64 55 21 19 54 23 27  1 63 48 22  3
 38 26 14 30 16 31 12 50 29 17 35 57 15 34 44  6 46 36 53 39 25  7  8 43
 20 37 24 68 56 78 28 61 73 51 42 45 49 74 52 72 70 47 60 67 65 79 62 82
 58]
****************************************************************************************************

In [3]:
#закомментил, чтобы ноутбук нормально отображался на GitHub
#sorted(df_result.user_city.unique())[:100]

In [2]:
#закомментил, чтобы ноутбук нормально отображался на GitHub
#sorted(df_result.user_name.unique())[:500]

In [ ]:
sorted(df_result.user_id.unique())[:10], sorted(df_result.user_id.unique())[-10:]

([10001, 10002, 10005, 10006, 10009, 10010, 10011, 10012, 10014, 10017],
 [33986, 33989, 33990, 33991, 33993, 33994, 33996, 33997, 33998, 33999])

**Комментарий:** Пропусков нет, дубликатов тоже. Типы данных адекватные. Есть аномалии в наименованиях городов и фамилиях. В первом случае - это один паттерн в виде сочетания символов '\r' в русскоязычном тексте. Можно было бы отделаться заменой, но я применил регулярку, чтобы убрать вообще все лишние символы, чтобы показать, что я влядею инструментом и для масштабируемости кода. Однако, если в новых данных возникнет транслит, как в фамилиях, то нужно будет пересмотреть решение проблемы, иначе названия на транслите просто пропадут. Транслит в фамилиях перевел с помощью специальной библиотеки и небольших "костылей" к ней. Решения и выводы см. ниже.

### Корректировка тектовых значений

In [ ]:
def clear_city(text):
  '''Принимает на вход строку, возвращает строку очищенную от нерусскоязычных символов'''
  return re.sub(r'[^А-Яа-яЁё -]', '', text)

In [ ]:
df_result.user_city = df_result.user_city.apply(clear_city)

In [1]:
#закомментил, чтобы ноутбук нормально отображался на GitHub
#sorted(df_result.user_city.unique().tolist())

In [ ]:
def translit_name(name):
  '''Принимает на вход строку, содержащую транслит, возвращает строку в русскоязычных символах'''
  ru_name = translit(name, 'ru')
  ru_name = ru_name.replace('W', 'В').replace('w', 'в').replace('X', 'Кс')
  return ru_name

In [ ]:
df_result.user_name = df_result.user_name.apply(translit_name)

In [4]:
#закомментил, чтобы ноутбук нормально отображался на GitHub
#sorted(df_result.user_name.unique().tolist())

**Комментарий:** Что касается городов, то проделанная предобработка полностью решила все аномалии в данных. Касательно фамилий - я только решил проблему транслитерации, однако остаются аномальные значения фамилий, например, состоящие из одной буквы - это уже нужно обсуждать с заказчиком, где искать корректные фамилии по имеющимся ID, так что пока оставляю в таком виде. Еще у библиотеки transliterate проблемы с переводом символов "w" и "x", возможно еще каких-то символов или сочетаний, которые нам не встретились. С коде это лечится дополнительными заменами, но я прописал замены только тех символов, что встретились в нашем датасете. Если делать код применимым для новых данных, то следует пересмотреть словарь символов под замену или подобрать более корректно работающую библиотеку для "лечкения" транслита.

 ##  Добавление волн

**Комментарий:** Сначала добавляем новый признак (разницу между датой присоединения студента и датой начала курса): если разница отрицательная, то студент записался до старта курса, если равна 0, то он записался в день старта курса. Все положительные значения соответствуют количеству дней после старта курса (временному лагу записи на курс в днях).

In [ ]:
df_result['join_lag'] = (df_result['user_joined'] - df_result['start_date']).dt.days

In [ ]:
df_result

,course_id,course_name,subject_name,subject_type,course_type,start_date,user_id,user_name,user_city,user_status,user_joined,full_months,homeworks_done,join_lag
0,19,Годовой 2к25 стандарт,Русский,ЕГЭ,Годовой,2024-09-21,10002,Коваленко,Москва,0,2024-07-25,3,5,-58
1,25,Годовой 2к25 стандарт,Биология,ЕГЭ,Годовой,2024-09-17,10005,Гусев,Белгород,1,2024-07-26,2,2,-53
2,23,Годовой 2К25 стандарт с Машей,Математика,ЕГЭ,Годовой,2024-09-20,10011,Ищенко,Анива,1,2024-09-10,1,11,-10
3,16,Годовой 2к25 стандарт,Обществознание,ЕГЭ,Годовой,2024-09-16,10020,Бархатова,Москва,1,2024-07-26,2,13,-52
4,17,Годовой 2к25 стандарт,Английский язык,ЕГЭ,Годовой,2024-09-20,10023,Накагава,Холмск,1,2024-07-26,2,10,-56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,19,Годовой 2к25 стандарт,Русский,ЕГЭ,Годовой,2024-09-21,25942,Такой,Краснодар,1,2024-09-17,1,21,-4
5105,37,Годовой курс 2к25,Русский ОГЭ,ОГЭ,Годовой,2024-09-25,25975,Аиx,Краснодар,1,2024-09-17,1,31,-8
5106,37,Годовой курс 2к25,Русский ОГЭ,ОГЭ,Годовой,2024-09-25,28022,Зотова,Челябинск,1,2024-09-23,0,47,-2
5107,36,Годовой курс 2к25,Обществознание ОГЭ,ОГЭ,Годовой,2024-09-30,28327,Юшкова,Серов,1,2024-09-24,0,7,-6
5108,36,Годовой курс 2к25,Обществознание ОГЭ,ОГЭ,Годовой,2024-09-30,28022,Зотова,Челябинск,1,2024-09-23,1,47,-7

In [ ]:
def categorize_waves(lag):
    '''Категоризирует учеников по соответствующим волнам в зависимости от значения временного лага записи на курс'''
    try:
        if lag <= 0:
            return '0'
        elif 0 < lag <= 7:
            return '1'
        elif 7 < lag <= 14:
            return '2'
        elif 14 < lag <= 21:
            return '3'
        elif 21 < lag <= 28:
            return '4'
        elif lag > 28:
            return '5'
    except:
        pass

In [ ]:
df_result['wave'] = df_result['join_lag'].apply(categorize_waves)

In [ ]:
df_result

,course_id,course_name,subject_name,subject_type,course_type,start_date,user_id,user_name,user_city,user_status,user_joined,full_months,homeworks_done,join_lag,wave
0,19,Годовой 2к25 стандарт,Русский,ЕГЭ,Годовой,2024-09-21,10002,Коваленко,Москва,0,2024-07-25,3,5,-58,0
1,25,Годовой 2к25 стандарт,Биология,ЕГЭ,Годовой,2024-09-17,10005,Гусев,Белгород,1,2024-07-26,2,2,-53,0
2,23,Годовой 2К25 стандарт с Машей,Математика,ЕГЭ,Годовой,2024-09-20,10011,Ищенко,Анива,1,2024-09-10,1,11,-10,0
3,16,Годовой 2к25 стандарт,Обществознание,ЕГЭ,Годовой,2024-09-16,10020,Бархатова,Москва,1,2024-07-26,2,13,-52,0
4,17,Годовой 2к25 стандарт,Английский язык,ЕГЭ,Годовой,2024-09-20,10023,Накагава,Холмск,1,2024-07-26,2,10,-56,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,19,Годовой 2к25 стандарт,Русский,ЕГЭ,Годовой,2024-09-21,25942,Такой,Краснодар,1,2024-09-17,1,21,-4,0
5105,37,Годовой курс 2к25,Русский ОГЭ,ОГЭ,Годовой,2024-09-25,25975,Аиx,Краснодар,1,2024-09-17,1,31,-8,0
5106,37,Годовой курс 2к25,Русский ОГЭ,ОГЭ,Годовой,2024-09-25,28022,Зотова,Челябинск,1,2024-09-23,0,47,-2,0
5107,36,Годовой курс 2к25,Обществознание ОГЭ,ОГЭ,Годовой,2024-09-30,28327,Юшкова,Серов,1,2024-09-24,0,7,-6,0
5108,36,Годовой курс 2к25,Обществознание ОГЭ,ОГЭ,Годовой,2024-09-30,28022,Зотова,Челябинск,1,2024-09-23,1,47,-7,0

In [ ]:
df_result['wave'].value_counts(normalize=True)*100

wave
0   37.48
3   16.87
2   16.70
1   14.33
4   14.13
5    0.49
Name: proportion, dtype: float64

In [ ]:
df_result.to_csv('df_result.csv', index=False)

# Задача 3:

Построить дашборд в Yandex DataLens с использованием датасета, подготовленного в Задаче 2.
Цели дашборда:
1. Отслеживать какие курсы хуже всего /лучше всего продлеваются учениками
2. Отбирать учеников, которые не продлили курс, по дополнительным заданным критериям, чтобы
связываться с данными учениками для повышения процента продлений

Для реализации данных целей на дашборде должна быть возможность:

1. Сравнивать курсы по двум метрикам: числу и проценту продлений заданного месяца.

Пример: на заданном курсе всего 1000 учеников, из них продлили 2-й месяц курса 800 учеников. Тогда на данном курсе: число продлений 2-го месяца равно 800, процент продлений 2-го месяца равен 80%

2. Получать полную информацию по ученикам (курс ученика, волна ученика на курсе, число сданных ДЗ ученика на курсе, город ученика и т.д.), которые подходят под данное условие:

- Не отчислены с курса

Также должна быть возможность среди данных учеников отобрать учеников:

- С заданных курсов
- С заданных волн
- С заданных городов
- Которые не продлили заданный месяц курса
- У которых число сданных ДЗ на курсе меньше заданного числа

**Ссылка на дашборд с публичным доступом:** https://datalens.yandex/wcw28pus37puj

Касаемо кода и логики, то только в одном чарте была использована формула для расчета доли продливших курс на заданный месяц от всех учеников курса: 100 * COUNT([Действующий ученик]) / SUM(COUNT([Действующий ученик]) WITHIN [Название курса],[Старт курса]). Логика тут довольно простая, не уверен, что нужно ее объяснять. Сам дашборд получился не самым "нарядным", но функционален и решает поставленные в ТЗ задачи.